</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">CalPlanner</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a  class="nav-link" href="{{baseurl}}logs/">Logs</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="{{baseurl}}graph/">Graph</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Misc
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{baseurl}}plans/">Plans</a>
          <a class="dropdown-item" href="{{baseurl}}viewDates/">Dates</a>
          <a class="dropdown-item" href="{{baseurl}}report/">Report</a>
        </div>
      </li>
   </ul>
  </div>
</nav>


{% if page_message|length > 0 %}<h3 id="page_message" class="alert alert-success">{{page_message}}</h3>{% endif %}
<!--h3 id="js_page_message" class="alert alert-success hide">{{page_message}}</h3-->
<div id="main" class="container">