{% include '_header.twig' %}
<title>CalPlanner - calendar</title>

<style>
    table.calendar      { border-left:1px solid #999; }
    tr.calendar-row {  }
    td.calendar-day { 
        min-height:80px; 
        font-size:11px; 
        position:relative; 
        vertical-align: top;
        } 
    * html div.calendar-day, * html div.calendar-day-np { 
        height:80px; 
        }
    td.calendar-day:hover   { background:#eceff5; }
    td.calendar-day-np  { background:#eee; min-height:80px; } 
    td.calendar-day-head { 
        background:#ccc; 
        font-weight:bold; 
        text-align:center; 
        width:120px; 
        padding:5px; 
        border-bottom: 1px solid #999; 
        border-top:1px solid #999; 
        border-right:1px solid #999; 
        }
    div.day-number { 
        background:#C3C; 
        padding:5px; 
        color:#fff; 
        font-weight:bold; 
        float:right; 
        margin: -5px -5px 0 0; 
        width:20px; 
        text-align:center; 
        }
    div.today { background:#33C; }
    .passed {color:#999}
    /* shared */
    td.calendar-day, td.calendar-day-np { width:120px; padding:5px; border-bottom:1px solid #999; border-right:1px solid #666; }
</style>
{% include '_banner.twig' %}
<h1>Calendar - {{month}} / {{year}}</h2>

<table cellpadding="0" cellspacing="0" class="calendar">
    <tr class="calendar-row">
    {% for heading in headings %}
        <td class="calendar-day-head">
            {{ heading }}</td>
    {% endfor %}
    </tr>
    <a href="?month={{month - 1}}&year={{year}}" class="btn btn-danger">Previous</a>
    <a href="?month={{month + 1}}&year={{year}}" class="btn btn-success">Next</a>

    {% for week in weeks %}
        <tr class="calendar-row">
            {% for day in week %}
               
        {% if day.num == 'x' %}
             <td class="calendar-day-np"> 
        {% else %}
            <td class="calendar-day">
            {% if day.today %}
                {% set className = 'day-number today' %}      
            {% else %}
                {% set className = 'day-number' %}
            {% endif %}
            <div class="{{ className}}" onclick="createPlanDate('{{year}}-{{month}}-{{day.num}}')">{{day.num}}</div>  

            {% for goal in day.goals %}
                
                {% if day.passed %}                
                    {% set className = 'passed' %}
                {% else %}
                    {% set className = '' %}                
                {% endif %}
                <p class="{{ className }}"
                    onclick="logTheCalendarDetail('{{year}}-{{month}}-{{day.num}}','{{goal.detail}}', '{{goal.goal}}');"
                >{{goal.goal}}:{{goal.detail}}</p> 
                
            {% endfor %}

            {% for logs in day.logs %}
            <p>{{logs}}</p>
            {% endfor %}
        {% endif %}
            </td>
        {% endfor %}    
        </tr>
    {% endfor %} 
</table>

<form method="post" action="../logs/"  class="form-inline">
<h3>Create Log</h3>
  <div class="form-group">
    <label for="goal">Goal:</label>
    <input type="text" name="goal" value="" id="goalEntry">
  </div>
  <div class="form-group">
    <label for="points">Points:</label>
    <input type="text" name="points" value="" id="pointsEntry">
  </div>
  <div class="form-group">
    <label for="count">Count:</label>
    <input type="text" name="count" value="" id="countEntry">
  </div>
  <div class="form-group">
    <label for="comment">Comment:</label>
   <input type="text" name="comment" value="" id="commentEntry">
  </div>
  <div class="form-group">
    <label for="date">Date:</label>
   <input type="text" name="date" value="" id="dateEntry">
  </div>
  <div class="form-group">
    <input type="submit" name="go" value="Create"  class="btn btn-warning">
  </div> 

</form>
<form method="post" action=""  class="form-inline">
<h3>Create Plan Date</h3>
<div class="form-group">
    <label for="goal">Goal:</label>
    <input type="text" name="goal" value="" id="goalTemplateDate">
  </div>
  <div class="form-group">
    <label for="comment">Detail:</label>
   <input type="text" name="detail" value="" id="detailTemplateDate">
  </div>
  <div class="form-group">
    <label for="date">Date:</label>
   <input type="text" name="date" value="" id="dateTemplateDate">
  </div>
  <div class="form-group">
    <input type="submit" name="go" value="Create"  class="btn btn-danger">
  </div>

</form>
{% include '_footer.twig' %}

<script>
function logTheCalendarDetail(entryDate, detail, goal){
    console.log(entryDate);
    console.log(detail);
    console.log(goal);
    let points = 1;
    let count = 1;
  document.getElementById("goalEntry").value = goal;
  document.getElementById("pointsEntry").value = points;
  document.getElementById("countEntry").value = count;
  document.getElementById("commentEntry").value = detail;
  document.getElementById("dateEntry").value = entryDate;
}

function createPlanDate(entryDate){
    console.log(entryDate);
    //                $datesDao->insert(date_format($target,"Y-m-d"), $value['template_id'], $value['content'], $goal);
  document.getElementById("goalTemplateDate").value = '';
  document.getElementById("detailTemplateDate").value = '';
  document.getElementById("dateTemplateDate").value = entryDate;
}
</script>